.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {


  width: 30%;
  margin-left: 10%;
  margin-top: 5%;
}

.hashtag {
  margin: 0px 4px;
}

.create-post {
  width: 70%;
  margin-left: 10%;
  margin-top: 5%;
}

.form-labels {
  font-weight: 800;
}

.icos {
  color: red;
  cursor: pointer;
  padding: 5px;
}
